.footer {
    background-color: #222324;
    height: 130px;

    padding: 20px;

    display: flex;
    justify-content: space-between;

    div:first-child {
        width: 400px;
    }

    .links {
        display: flex;

        * {
            height: 40px;
            width: 40px;
            margin: 10px
        }
    }
}